<h1>Edit New Work</h1>

<%= form_with(model: @works, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :works_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :works_subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :works_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
